::-webkit-scrollbar {
    width: 0;
  }

input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.644);}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', serif;
}

.menu {
    margin: 0 auto;
    width: 100%;
    height: 9vh;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

.img_container {
    display: inline-block;
    height: 100%;
}

.school_logo {
    height: 100%;
}

.school_link {height: 100%;}

.school_number {
    display: inline-block;
    margin: 0;
    height: 100%;
    line-height: calc(9vh - 20px);
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.5vw;
}

.menu_point {
    margin-left: 15vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu_point_text {
    position: relative;
    height: 100%;
    line-height: calc(9vh - 20px);
    margin: 0;

    color: rgba(0, 0, 0, 0.644);
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;

    transition: 0.2s;

    --checked-width: 0%;
    --checked-left: 50%;
    --checked_transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu_point_text:after {
    content: "";
    position: absolute;
    left: var(--checked-left);
    top: calc(4.5vh + 0.5vw);
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: var(--checked-width);
    background: rgb(8, 4, 4);
    transition: var(--checked_transition);
}

.menu_point_text:hover::after { 
    width: 100%; 
    left: 0; 
  }

.menu_point_text:hover {
    color: black;
    transition: 0.2s;
}

.search_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
    padding: 1.1vh 0;
}

.points_search {
    position: relative;
    width: 14vw;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    outline: none;
    font-size: 1vw;
    font-weight: 400;
}

.search_menu:after {
    position: absolute;
    content: "";
    background-image: url("/static/media/search.png");
    background-size: cover;
    top: 50%;
    left: 100%;
    transform: translate(-110%, -50%);
    height: 4vh;
    width: 4vh;
    border-radius: 4px;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);

    pointer-events: all;
}


.search_menu:hover:after {
    background-color: rgba(0, 0, 0, 0.329);
    transition: 0.2s;
}

.register_block {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    width: 5vw;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vh 0;
}

.login_btn {
    display: inline-block;
    margin: auto;
    width: 3vh;
    height: 3vh;
    background-size: cover;
    filter: opacity(70%) drop-shadow(1px 1px 15px #000);
    cursor: pointer;
}

#login_btn {
    background-image: url(/static/media/user.png);
}

#logout_btn {
    background-image: url(/static/media/logout.png);
}

.main_container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(232, 232, 255);
    width: 97vw;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 2.5fr 1.3fr;
}

.main_container:after {
    position: absolute;
    content: "";
    background-image: url("/static/media/вопрос.png");
    background-size: cover;
    width: 2vw;
    height: 2vw;
    top: 100%;
    left: 0;
    transform: translate(20%, -120%);

    cursor: pointer;
}


.map_container {
    padding: 5vh 0vh;
}
#map {
    margin: 0;
    width: 80vh; 
    height: 80vh;
}

#map > ymaps {
    border-radius: 100vw;
    overflow: hidden;
}

.left_info {
    box-sizing: border-box;
    padding: 5vh 2vw 5vh 5vw;
}
.left_info_content {
    padding: 0;
    margin: 0;
    /* background-color: white; */
    height: 70vh;
}

.left_info_title {
    font-size: 5vh;
    text-decoration: solid;
}

.left_info_text {
    margin: 7vh 2vw 0 0;
    font-size: 1.5vh;
    line-height: 2.5vh;
}

.horiz_three_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3vh;
}

.down_btns {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 4vw auto 0 0;
}

.clear_map {
    position: relative;
    width: 3vw;
    margin-left: 2vw;
    background-image: url("/static/media/winclose.png");
    background-size: cover;
    cursor: pointer;
}

.clear_map:after {
    position: absolute;
    content: "Очистить карту";
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1vh 1vh;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);

    transition: 0.2s;
}

.clear_map:hover:after {
    opacity: 1;
    transition: 0.2s;
}

.all_poi_btn {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 2vh 4vw 2vh 2vw;
    background-color: grey;
    color: white;
    font-size: 1.3vw;
    border-radius: 8px;
    line-height: 100%;
    text-align: center;

    -webkit-box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 13px 0px rgba(34, 60, 80, 0.2);

    cursor: pointer;

    transition: 0.2s;
}

.all_poi_btn::after {
    position: absolute;
    content: "►";
    color: white;
    left: 85%;
    font-size: 0.5em;
}

.all_poi_btn:hover {
    background-color:  rgb(100, 100, 100);
    transition: 0.2s;
}

.img_text_block {
    position: relative;
    background-color: white;
    border-radius: 10vw;
    width: 6vw;
    height: 6vw;

    transition: 0.2s;

    cursor: pointer;

    -webkit-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.img_text_block:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.img_text_block::after {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#rests:after {
    content: "Рестораны";
}

#museums:after {
    content: "Музеи";
}

#forschoolers:after {
    content: "Школьникам";
}

.right_info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5vh 2vw 5vh 0;
}

.picture_block {
    position: relative;
    margin: auto;
    width: 12vw;
    height: 12vw;
    background-color: white;
    border-radius: 12vw;
    -webkit-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);

    transition: 0.2s;

    cursor: pointer;
}

.img_in_block {
    object-fit: cover;
    border-radius: 12vw;
    width: 100%;
    height: 100%;
}

.picture_block_img {
    object-fit: cover;
    border-radius: 12vw;
    width: 100%;
    height: 100%;
}

.picture_block:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.picture_block:after {
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 7vw;
    text-align: center;
    padding: 5px;
    height: fit-content;
    border-radius: 4px;
    content: "Арка входа";
}

#moskvarium:after {
    content: "Москвариум";
}

#pav1:after {
    content: "Павильон № 1";
}


@keyframes in_animation {
    0% {transform: translate(100%);}
    100% {transform: translate(0%);}
}

@keyframes out_animation {
    0% {transform: translate(0%);}
    100% {transform: translate(-100%);}
}

.class_out_animation {
    animation: out_animation 250ms forwards;
}

.class_in_animation {
    display: grid; 
    animation: in_animation 250ms forwards;
}

.slide_container {
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    width: 97vw;
    height: calc(100% - 9vh - 1.5vw);
    margin: 0 auto;
    overflow: hidden;
}


/* Описание контейнера для динамических маршрутов */

.map_container_dynamic {
    padding: 5vh 2vh;
}
#map_dynamic {
    margin: 0;
    width: 100%; 
    height: 80vh;
}

#map_dynamic > ymaps {
    border-radius: 2vw;
    overflow: hidden;
}

#dynamic_content {
    grid-template-columns: 1.5fr 3fr;
}

.point_input {
    margin: 1.5vw auto 0 0;
    padding: 1vh 1vw;
    position: relative;
    width: 25vw;
    height: 4vh;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 0;
    font-size: 1.5vw;
}
.input_container {
    position: relative;
    width: fit-content;
    height: fit-content;
}
#transit_point {
    --opc: 0;
    --vsb: hidden;

}

#start_container::after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 50%;
    left: -10%;
    background-color: red;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    transform: scale(0.8);
}
#finish_container::after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 50%;
    left: -10%;
    background-color: rgba(0, 0, 0, 0.644);
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    transform: scale(0.8);
}

#finish_container::before {
    content: "";
    position: absolute;
    z-index: 3;
    margin: 0;
    padding: 0;
    transform: translate(50%, 50%);
    top: 50%;
    left: -10%;
    background-color: white;
    width: 1vw;
    height: 1vw;
    border-radius: 1vw;
}

#start_container::before {
    content: "";
    position: absolute;
    z-index: 3;
    margin: 0;
    padding: 0;
    transform: translate(50%, 50%);
    top: 50%;
    left: -10%;
    background-color: white;
    width: 1vw;
    height: 1vw;
    border-radius: 1vw;
}


.btn_container {
    width: 100%;
    height: 2vw;
    margin: 1vw auto;
    padding: 0 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
}

.del_add_btn {
    background-color: rgb(232, 232, 255);
    color: rgba(0, 0, 0, 0.644);
    border: 0;
    font-size: 1.3vw;
    font-weight: 700;

    cursor: pointer;

    transition: 0.2s;
}

.del_add_btn:hover {
    color: red;
    transition: 0.2s;
}

#to_favorites:after {
    position: absolute;
    content: "Избранное";
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1vh 1vh;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);

    transition: 0.2s;
}

#to_favorites:hover:after {
    opacity: 1;
    transition: 0.2s;
}

/* Описание контейнера для маршрутов с ограничением времени */

#map_time {
    margin: 0;
    width: 100%; 
    height: 80vh;
}

#map_time > ymaps {
    border-radius: 2vw;
    overflow: hidden;
}


#time_content {
    grid-template-columns: 1.5fr 3fr;
}

.onepoint_input {
    margin: 1.5vw auto 0 0;
    padding: 1vh 1vw;
    position: relative;
    width: 23vw;
    height: 4vh;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 0;
    font-size: 1.5vw;
}

.time_input {
    margin: 1.5vw auto 0 0;
    padding: 1vh 1vw;
    position: relative;
    height: 4vh;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 0;
    font-size: 1.5vw;
}


/* Всплывающее окно маршрутов с ограничением по времени */


.opened_win {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.274);
    display: none;
}

.opened_win_container {
    margin: 10vh auto;
    padding: 2vh 2vw;
    width: 70vw;
    height: 80vh;
    background-color: rgb(232, 232, 255);
    border-radius: 16px;
}

.open_win_container {
    width: 100%;
    margin-top: 3vh;
    height: 70vh;
    background-color: rgb(232, 232, 255);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.routes_list {
    padding: 2vh 1vh;
    margin-right: 2vw;
    background-color: white;
    border-radius: 8px;
}


.map_image {
    display: block;
    margin: 1vh auto;
    width: 80%;
    height: 50%;
    border-radius: 4px;
    max-width: 400px;
    max-height: 280px;
}
.aboute_route {
    position: relative;
    display: none;
    padding: 2vh 1vh;
    background-color: white;

    border-radius: 8px;
}

.close_aboute_route {
    position: absolute;
    top: 1%;
    left: 95%;
    font-size: 3vh;
    margin: 0;

    cursor: pointer;

    transition: ease 0.2s;

}

.close_aboute_route:hover {
    color: red;
    transition: ease 0.2s;
}

.info_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 3vh auto 0 1vw;
}

.routes_list {
    overflow: scroll;
}

.route_info {
    box-sizing: border-box;
    padding: 1vh 2vw;
    margin: 0 1vw 2vh 1vw;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(232, 232, 255);
    cursor: pointer;
    border-radius: 8px;

    transition: ease 0.2s;

    -webkit-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.route_info:hover {
    transform: scale(1.05);
    transition: ease 0.2s;
}

/* .span_text {
    height: fit-content;
    display: table-cell;
    vertical-align: middle;
} */


.span_text {
    font-size: 16px;
    margin: 0;
}

.nothing {
    margin: 0;
    padding: 2vh 1vh;
    display: block;
    padding-top: calc(50% - 12px);
}

.to_favorites {
    position: relative;
    width: 2vw;
    margin-left: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


/*Описание раздела с избранными маршрутами и историей поиска*/

.map_container_dynamic {
    padding: 5vh 2vh;
}
#map_favorites {
    margin: 0;
    width: 100%;
    height: 80vh;
}

#map_favorites > ymaps {
    border-radius: 2vw;
    overflow: hidden;
}

#map_history {
    margin: 0;
    width: 100%;
    height: 80vh;
}

#map_history > ymaps {
    border-radius: 2vw;
    overflow: hidden;
}

.route_settings {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92%;
    width: 4vh;
    height: 4vh;
    background-image: url("/static/media/settings.png");
    background-size: cover;
    cursor: pointer;
}

.settings_route_win {
    margin: 50vh auto;
    transform: translateY(-50%);
    width: 20vw;
    height: 20vh;
    background-color: white;
    border-radius: 16px;
}

.opened_win_settings {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.274);
    display: none;
}